/* css reset */ 
*{
    margin: 0;
    padding: 0;
}

/* css variables */
:root{
    --navbar-height: 59;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
}

/* Navigation bar: logo and image */
#logo{
    margin: 34px 45px;
}
#logo img{
    height: 130px;
    margin: 3px 6px;

} 

/* Navigation bar: list styling */
#navbar{
    position: relative;
    height: 125px;
}
#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: rgb(219, 223, 32);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    
    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a{
    color: rgb(128, 73, 11);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
    display: block;
    background-color: brown;

}
